@import '~Themes/vars.less';

header {
  position: fixed;
  z-index: 1;
  width: 100%;

  Menu{
    line-height: 64px;
  }

  .logo img {
    width: 30px;
    margin-right: 10px;
    margin-top: -6px;
  }

  .logo {
    color: #fff;
    font-size: 2em;
    width: 190px;
    height: 31px;
    margin: 0;
    float: left;
  }

  .right {
    float: right;
  }
}