.loginForm {
  max-width: 340px;
  margin: 20vh auto;
  padding: 30px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .08);

  .loginLogo {
    width: 50%;
    display: block;
    margin: 0 auto 30px auto;
  }
}

.loginFormButton {
  width: 100%;
}

.antLayout {
  background: #fff;
}